@model Sprint1.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<div>
    <h1 class="display-4">@Model.Titulo</h1>
    <hr />

    <div class="row mt-4">
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.Imagem_url))
            {
                <img src="@Model.Imagem_url" class="img-fluid rounded shadow-sm" alt="Capa do @Model.Titulo">
            }
            else
            {
                <img src="https://via.placeholder.com/600x800.png?text=Sem+Capa" class="img-fluid rounded shadow-sm" alt="Sem Capa">
            }
        </div>

        <div class="col-md-8">
            <h3>@Html.DisplayNameFor(model => model.Descricao)</h3>
            <p class="lead">@Model.Descricao</p>

            <div class="mt-4 mb-4">
                <h2 class="text-primary">
                    @Model.Preco_original.ToString("C")
                </h2>
            </div>

            <hr />

            <h4>Especificações</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.Estoque):</strong> @Model.Estoque unidades</li>
                <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.Condicao_produto):</strong> @Model.Condicao_produto</li>

                <li class="list-group-item"><strong>Dimensões (A x L x P):</strong> @Model.Altura cm x @Model.Largura cm x @Model.Profundidade cm</li>

                <li class="list-group-item"><strong>@Html.DisplayNameFor(model => model.FuncionarioId):</strong> @Model.FuncionarioId</li>

            </ul>
        </div>
    </div>

    <div class="mt-5">
        <a asp-action="Edit" asp-route-id="@Model.Produto_ID" class="btn btn-primary">Editar Produto</a>
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar para a Lista</a>
    </div>
</div>